@model PawsAndClaws.Models.AppointmentModel

@{
    ViewBag.Title = "Create";
}

<h3>Create a new appointment</h3>
<br />
<form>
    <div class="row">
        <label>Appointment Date: <input /></label>
    </div>
</form>