@model PawsAndClaws.Models.AppointmentsViewModel

@{
    ViewBag.Title = "Home Page";
}

<h3>Upcoming Appointments</h3>
<br />

<div class="row">
    <h4 class="col-md-3">
        Date/Time
    </h4>
    <h4 class="col-md-3">
        Reason
    </h4>
    <h4 class="col-md-3">
        Pet Name
    </h4>
</div>
<hr />
<br />

@foreach (var appointment in Model.Appointments)
{
    <div class="row">
        <div class="col-md-3">
            @appointment.AppointmentDate
        </div>
        <div class="col-md-3">
            @appointment.AppointmentReason
        </div>
        <div class="col-md-3">
            @appointment.Pet.PetName
        </div>
        <div class="col-md-3">
            <button class="btn btn-default edit-appt" data-id="@appointment.AppointmentId">Edit</button>
        </div>
    </div>
    <hr />
}

<br /><br />

<a class="btn btn-default" href="/Appointment/Create">Schedule Appointment</a>

<script>
    $.ajax({
        url : "AJAX_POST_URL",
        type: "POST",
        data : formData,
        success: function(data, textStatus, jqXHR)
        {
            //data - response from server
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
 
        }
    });
</script>